
@using Discoverx.Models;
@model Discoverx.Models.StudyReport.PHStudyReportViewModel



    <table class="PrincipleTable">
    <tr>
        <td valign="top" class="no_border">


            <div>
                <div class="div_column">
                    <p class="tech_principle_title main">Technology Principle</p>
                    <p class="tech_principle_title sub">Epigenetic Assays</p>
                    <p>
                        The field of epigenetic research has enormous potential to
                        progress therapy in oncology and the wider disease spectrum.
                        Epigenetic processes include histone modification,
                        DNA methylation, and chromatin remodeling and are affected
                        by various environmental and genetic factors, contribu
                        ting to disease progression. These epigenetic proteins,
                        categorized as readers, writers, and erasers are being targeted
                        aggressively for novel drug development.

                    </p>

                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechEpigenetic_1.png")" width="480px"></p>

                    <p>
                        DiscoverX offers a comprehensive solution of biochemical
                        and cell-based assays to identify small molecule inhibitors
                        and modifiers of DNA methyltransferases, bromodomains
                        and other epigenetic targets. PathHunter<sup>®</sup> b-galactosidase
                        Enzyme Fragment Complementation (EFC) technology from
                        DiscoverX provides a novel, non-imaging, cell-based assay
                        approach to identify small molecule compounds that bind
                        to these emerging epigenetic targets.
                    </p>

                </div>
                <div class="div_column right">

                    <p class="tech_principle_title sub">Profile Overview</p>
                    <p>
                        DiscoverX was contracted by Dr. @Model.contract.ContactName at @Model.order.Company to profile @Model.order.NumberOfCompounds
                        compounds with @Model.order.NumberOfAssays Epigenetics biosensor assay.
                        Details are given below:
                    </p>
                    <p class="center">
                        <table style="table-layout:fixed;font-size:16px;" cellpadding="5">
                            <caption>Project Description</caption>
                            <colgroup>
                                <col style="width:175px">
                                <col style="width:250px">

                            </colgroup>
                            <tr><td>Product:</td><td>@Model.contract.Product</td></tr>
                            <tr><td>Assays:</td><td>@Model.numberOfAssays</td></tr>
                            <tr><td># Compound(s):</td><td>@Model.numberOfCompounds</td></tr>
                            <tr><td># Datapoints:</td><td>@Model.numberOfDatapoints.ToString()</td></tr>
                            <tr><td valign="top">Targets:</td><td>@Html.Raw(Model.targetAssayList)</td></tr>
                        </table>
                    </p>
                </div>
            </div>
        </td>
    </tr>

</table>





