
@using Discoverx.Models;
@model Discoverx.Models.StudyReport.PHStudyReportViewModel



<table class="PrincipleTable">
    <tr>
        <td valign="top" class="no_border">


            <div>
                <div class="div_column">
                    <p class="tech_principle_title main">Technology Principle</p>
                    <p class="tech_principle_title sub">Cytokine Receptor Assays</p>
                    <p>
                        Cytokines are a broad range of small proteins that are involved in cell signaling.
                        Cytokines bind to cell surface receptors that are comprised of 2 or more subunits or chains.
                        Cytokines and cytokine receptors are particularly important in the immune system and have
                        therapeutic relevance for inflammation, autoimmune diseases and cancer.


                    </p>

                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechCytokine_1.jpg")"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechCytokine_2.jpg")"></p>

                    <p>
                        DiscoverX uses a dimerization approach to measure interaction of the receptor chains upon activation.
                        In the PathHunter<sup>®</sup> Cytokine Receptor Assay, one cytokine receptor chain is tagged with a small peptide
                        epitope ProLink (PK)  and the other chain is tagged with Enzyme Acceptor (EA). Ligand binding induces
                        dimerization of the two receptors, facilitating complementation of PK and EA fragments.
                        This interaction generates an active unit of b-galactosidase, which is detected using a chemiluminescent substrate.

                    </p>
                    <p>
                        The method is ideal for investigating the activity of biologics and antibody therapeutics
                        that activate or block receptor dimerization by either binding to the target or ligand.
                    </p>
                </div>
                <div class="div_column right">

                    <p class="tech_principle_title sub">Profile Overview</p>
                    <p>
                        DiscoverX was contracted by Dr. @Model.contract.ContactName at @Model.order.Company to profile @Model.order.NumberOfCompounds
                        compounds with @Model.order.NumberOfAssays Epigenetics biosensor assay.
                        Details are given below:
                    </p>
                    <p class="center">
                        <table style="table-layout:fixed;font-size:16px;" cellpadding="5">
                            <caption>Project Description</caption>
                            <colgroup>
                                <col style="width:175px">
                                <col style="width:250px">

                            </colgroup>
                            <tr><td>Product:</td><td>@Model.contract.Product</td></tr>
                            <tr><td>Assays:</td><td>@Model.numberOfAssays</td></tr>
                            <tr><td># Compound(s):</td><td>@Model.numberOfCompounds</td></tr>
                            <tr><td># Datapoints:</td><td>@Model.numberOfDatapoints.ToString()</td></tr>
                            <tr><td valign="top">Targets:</td><td>@Html.Raw(Model.targetAssayList)</td></tr>
                        </table>
                    </p>
                </div>
            </div>
        </td>
    </tr>

</table>





