@using Discoverx.Models;
@model Discoverx.Models.StudyReport.PHStudyReportViewModel



    <table class="PrincipleTable">
    <tr>
        <td valign="top" class="no_border">

            <div>
                <div class="div_column">
                    <p class="tech_principle_title main">Technology Principle</p>
                    <p class="tech_principle_title sub">Arrestin Pathway</p>
                    <p>
                        The PathHunter<sup>®</sup> β-Arrestin assay monitors the activation of
                        a GPCR in a homogenous, non-imaging assay format using a
                        technology developed by DiscoverX called Enzyme Fragment
                        Complementation (EFC) with β-galactosidase (β-Gal)
                        as the functional reporter. The enzyme is split into two
                        inactive complementary portions (EA for Enzyme Acceptor
                        and PK for ProLink) expressed as fusion proteins in
                        the cell. EA is fused to β-Arrestin and PK is fused to the
                        GPCR of interest.

                    </p>
                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechGPCR_1.jpg")" width="480px"></p>
                    <p>
                        When the GPCR is activated and β-Arrestin is recruited to
                        the receptor, ED and EA complementation occurs, restoring
                        β-Gal activity which is measured using chemiluminescent
                        PathHunter<sup>®</sup> Detection Reagents.
                    </p>
                    
                    <p class="tech_principle_title sub">Endocytosis Pathway</p>
                    <p>
                        Using EFC technology, DiscoverX has developed several
                        methods to study receptor internalization.
                    </p>
                    <p>
                        PathHunter<sup>®</sup> Activated GPCR Internalization Assays provide
                        a quantitative measurement of arrestin-mediated GPCR
                        internalization, allowing you to monitor the movement of
                        unlabeled, arrestin-bound GPCRs from the plasma membrane
                        in live cells. In this system, EA is fused to arrestin (EA-Arrestin) and ED is localized exclusively to the surface of
                        early endosomes. Enzyme activity is restored upon GPCR
                        activation and arrestin-mediated trafficking to early endosomes.
                        Activity is measured using PathHunter<sup>®</sup> Detection
                        Reagents.
                    </p>
                </div>
                <div class="div_column right">
                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechGPCR_2.jpg")" style="width:480px"></p>
                    <p>
                        PathHunter<sup>®</sup> Total GPCR Internalization Assays provide a
                        quantitative measurement of total GPCR protein internalized
                        into endosomes and is measured using PathHunter<sup>®</sup>
                        Detection Reagents.
                    </p>
                    <p>
                        There are two Total GPCR Internalization assay formats. In
                        the first, one of the EFC components is localized exclusively
                        to the endosome and the other component is fused to the GPCR of interest.
                    </p>
                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechGPCR_3.jpg")" style="width:480px"></p>
                    <p>
                        When stimulation of the target receptor
                        results in receptor internalization and trafficking to early
                        endosomes, complementation of the two enzyme fragments
                        occurs, reflected as an increase in enzyme activity.
                    </p>
                    <p>
                        In the second format, EA is localized exclusively to the plasma
                        membrane (EA-Membrane) and ED is fused to the GPCR
                        of interest. Membrane-bound receptors will complement
                        with EA, resulting in high levels of enzyme activity. When
                        activation of the GPCR results in receptor internalization,
                        loss of receptor at the cell surface is reflected as a loss of
                        enzyme activity.
                    </p>
                </div>
            </div>
        </td>
    </tr>

</table>

    <table class="PrincipleTable" style="page-break-before:always;">
    <tr>
        <td valign="top" class="no_border">


            <div>
                <div class="div_column">

                    <p class="tech_principle_title sub">cAMP Secondary Messenger Pathway</p>
                    <p>
                        DiscoverX has developed a panel of cell lines stably expressing
                        non-tagged GPCRs that signal through cAMP. Hit
                        Hunter<sup>®</sup> cAMP assays monitor the activation of a GPCR via
                        Gi and Gs secondary messenger signaling in a homogenous,
                        non-imaging assay format using a technology developed by
                        DiscoverX called Enzyme Fragment Complementation (EFC)
                        with β-galactosidase (β-Gal) as the functional reporter.

                    </p>
                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechGPCR_4.jpg")" width="480px"></p>
                    <p>
                        The enzyme is split into two complementary portions: EA
                        for Enzyme Acceptor and ED for Enzyme Donor. ED is fused
                        to cAMP and in the assay competes with cAMP generated
                        by cells for binding to a cAMP-specific antibody. Active β-Gal 
                        is formed by complementation of exogenous EA to any
                        unbound ED-cAMP. Active enzyme can then convert a
                        chemiluminescent substrate, generating an output signal
                        detectable on a standard microplate reader.
                    </p>
                    
                    <p class="tech_principle_title sub">Calcium Secondary Messenger Pathway</p>
                    <p>
                        The Calcium No Wash<sup>PLUS</sup> assay monitors the activation of a
                        GPCR via Gq secondary messenger signaling in a live cell,
                        non-imaging assay format.
                    </p>
                    <p class="center"><img src="@string.Format(Utility.GetAPPSettingKey("FullImagePath"), "TechGPCR_5.jpg")" width="480px"></p>
                </div>
                <div class="div_column right">

                    <p>
                        Calcium mobilization in PathHunter<sup>®</sup> cell lines or other cell
                        lines stably expressing Gq-coupled GPCRs is monitored using
                        a calcium-sensitive dye that is loaded into cells. GPCR
                        activation by a compound results in the release of calcium
                        from intracellular stores and an increase in dye fluorescence
                        that is measured in real-time.
                    </p>
                    <br />
                    <p class="tech_principle_title sub">Profile Overview</p>
                    <p>
                        DiscoverX was contracted by Dr. @Model.contract.ContactName at @Model.order.Company to profile @Model.numberOfCompounds.ToString() 
                        compound@((Model.numberOfCompounds > 1) ? "s" : "")
                        with @Model.numberOfAssays.ToString() GPCR biosensor assay@((Model.numberOfAssays>1) ? "s" : "").
                        Details are given below:
                    </p>
                    <p class="center">
                        <table style="table-layout:fixed;font-size:16px;" cellpadding="5">
                            <caption>Project Description</caption>
                            <colgroup>
                                <col style="width:175px">
                                <col style="width:350px">

                            </colgroup>
                            <tr><td>Product:</td><td>@Model.contract.Product</td></tr>
                            <tr><td>Assays:</td><td>@Model.numberOfAssays</td></tr>
                            <tr><td># Compound(s):</td><td>@Model.numberOfCompounds</td></tr>
                            <tr><td># Datapoints:</td><td>@Model.numberOfDatapoints.ToString()</td></tr>
                            <tr><td valign="top">Targets:</td><td>@Html.Raw(Model.targetAssayList)</td></tr>
                        </table>
                    </p>

                </div>
            </div>
        </td>
    </tr>

</table>


