
@{
    ViewBag.Title = "ContentPage";
    Layout = "~/Views/Shared/_PDFCoverLayout.cshtml";
}

<table style="font-family:Arial; font-size:16px; margin-left:40px; margin-top:60px; line-height:35px" cellpadding="8px" cellspacing="8px">
    <colgroup>
        <col style="width:160px;" />
        <col style="width:850px;" />
        <col style="width:100px;" />
    </colgroup>
    <tbody>
        <tr style="color:#0063A1;font-size:26px;font-style:normal;font-weight:bold;font-family:Arial">
            <td align="center">
                Page Color
            </td>
            <td>
                Content
            </td>
            <td>
                Pages
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img src="@Url.Content("~/Content/images/PDFCover/2529.png")" alt='' class="_idGenObjectAttribute-2" /></p>
            </td>
            <td>

                <p style="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">GPCR Assays ................................................................................................................ </p>
                <p>PathHunter<sup>®</sup> Arrestin Cell Lines &amp; Express Kits</p>
                <p>cAMP Hunter™ Cell Lines &amp; Express Kits</p>
                <p>Calcium Cell Lines</p>
                <p>Internalization Cell Lines &amp; Express Kits</p>
                <p>Biologics Kits</p>
                <p>LeadHunter™ Services</p>
            </td>
            <td style="vertical-align:top" align="center"><p>1–4</p></td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img src="@Url.Content("~/Content/images/PDFCover/2555.png")" alt='' class="_idGenObjectAttribute-3" /></p>
            </td>
            <td>
                <p style="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">Orphan GPCR Assays .................................................................................................... </p>
                <p>PathHunter Cell Lines &amp; Express Kits</p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">5–6</td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img class="_idGenObjectAttribute-4" src="@Url.Content("~/Content/images/PDFCover/2587.png")" alt="" /></p>
            </td>
            <td>
                <p style="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">Dimerization Assays ....................................................................................................... </p>
                <p>PathHunter Cell Lines &amp; Express Kits</p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">7</td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img class="_idGenObjectAttribute-4" src="@Url.Content("~/Content/images/PDFCover/2589.png")" alt="" /></p>
            </td>
            <td>
                <p style="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">Nuclear Hormone Receptor (NHR) Activation Assays ................................................. </p>
                <p>PathHunter Cell Lines &amp; Express Kits</p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">8</td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img class="_idGenObjectAttribute-3" src="@Url.Content("~/Content/images/PDFCover/3112.png")" alt="" /></p>
            </td>
            <td>
                <p style="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">Receptor &amp; Cytosolic Tyrosine Kinase Assays ............................................................ </p>
                <p>PathHunter Cell Lines &amp; Express Kits</p>
                <p>Internalization Cell Lines</p>
                <p>Biologics Kits</p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">9</td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img class="_idGenObjectAttribute-3" src="@Url.Content("~/Content/images/PDFCover/3081.png")" alt="" /></p>
            </td>
            <td>
                <p style ="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">Pathway Assays .............................................................................................................</p>
                <p>PathHunter Cell Lines &amp; Express Kits</p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">10</td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img class="_idGenObjectAttribute-3" src="@Url.Content("~/Content/images/PDFCover/3050.png")" alt="" /></p>
            </td>
            <td>
                <p style="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">InCELL Hunter™ Assays ................................................................................................</p>
                <p>Cell Pools, Cell Lines &amp; Express Kits</span></p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">11</td>
        </tr>
        <tr>
            <td style="vertical-align:top" align="center">
                <p><img class="_idGenObjectAttribute-3" src="@Url.Content("~/Content/images/PDFCover/3019.png")" alt="" /></p>
            </td>
            <td>
                <p style ="color:#0063A1;font-size:24px;font-style:normal;font-weight:bold;font-family:Arial">Pharmacotrafficking Assays ..........................................................................................</p>
                <p>Cell Lines</p>
                <p>LeadHunter Services</p>
            </td>
            <td style="vertical-align:top" align="center">12</td>
        </tr>
    </tbody>
</table>
